<h1>Task Manager</h1>
<ul>
<% @tasks.each do |task| %>

  <li style="list-style-type: none;" class="p-1">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault" <%= task.completed ? "checked" : "unchecked" %> disabled>
    <%= link_to task.title, task_path(task) %>

      <%= link_to task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
      <i class="fa-solid fa-trash-can"></i>
      <% end %>


  </li>

<% end %>

</ul>

  <%= link_to new_task_path do %>
      <button class="btn btn-primary">
      Create</button>
      <% end %>
